h1 {
  text-align: center;
}
p {
  margin: 1em;
}

form {
  display:flex;
  justify-content: center;
  margin: 1em 0;
}

fieldset {
  padding: 1rem;
  max-width: 50rem;
  margin: 1rem;
}

img {
  height: 450px;
  width: 450px;
  object-fit:scale-down;
  overflow-x: hidden;
}
